<!DOCTYPE html>
<html>
<head>
 <title>Celery testing</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <style>
  .progress {
   width:50%;
   background:yellow;
  }
  .bar {
   height:15px;
   width:0%;
   background:tomato;
   text-align:right;
  }
 </style>
</head>
<body>
 <h1>Create 1000 objects in 1 click!</h1>

 <div id="container">
  <div id="action">
   <button id="do-task">Click here!</button>
  </div>

  <div class="progress_container">

   <div class="current-task">
    <h4>{% if job_id %} Task ID: {{ job_id }} {% endif %}</h4>
   </div>

   <div class="status"></div>
   {% if job_id %}
   <div class="progress">
    <div class="bar"></div>
   </div>
   {% endif %}
  </div>

 </div>
 {% if job_id %}
 <script type="text/javascript">
  jQuery(document).ready(function() {

   // pole state of the current task
   var PollState = function(job_id) {
    jQuery.ajax({
         url: "init_work/poll_state",
         type: "POST",
         data: "job_id=" + job_id,
        }).done(function(task){
     console.log(task);
     if (task.current) {
      jQuery('.bar').css({'width': '{{json_data.current}}' + '%'});
      //jQuery('.bar').html(task.current + '%')
     } else {
      jQuery('.status').html(task);
     };

     // create the infinite loop of Ajax calls to check the state
     // of the current task
     PollState(job_id);
    });
   }

   PollState('{{ job_id }}');
  });
 </script>
 {% endif %}
 <script type="text/javascript">
  jQuery('#do-task').click( function() {
   jQuery.ajax({
    url: "poll_state",
    data: {},
    success: function(){
     jQuery.ajax({
      url: "",
      context: document.body,
      success: function(s, x) {
       jQuery(this).html(s);
      }
     });
    }
   })
  });
 </script>

</body>
</html>